option_settings:
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /auth/health
    Port: 8080
    Protocol: HTTP
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: production
    SERVER_PORT: 8080
    PORT: 8080